{% extends 'base.html' %}

{% block title %}
    Lista de Endereços Salvos
{% endblock %}

{% block content %}
    <h1>Endereços Salvos</h1>
    <ul>
        {% for endereco in enderecos %}
            <li>
                {{ endereco }} 
                <a href="{% url 'ViaCep:endereco-detail' endereco.pk %}">(Ver Detalhes)</a>
                <a href="{% url 'ViaCep:endereco-delete' endereco.pk %}">(Excluir)</a>
            </li>
        {% empty %}
            <li>Nenhum endereço salvo ainda.</li>
        {% endfor %}
    </ul>
{% endblock %}